/* ----Game-------------------------------------------------- */

.game__game{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game__menu {
    display: flex;
    width: 100%;
    margin: 0 0 30px;
}

.game__rules {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.game__rule{
    padding: 15px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

/* ----Canvas-------------------------------------------------- */

.game__canvas__class{
    width: 80%;
    height: 500px;
    border-radius: 10px;
}