.page{
    width: 100%;
    height: 100%;
    z-index: 5;
}

/* ----Game-------------------------------------------------- */

.game__game{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game__menu {
    display: flex;
    width: 100%;
    margin: 0 0 30px;
}

.game__rules {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.game__rule{
    padding: 15px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

.game__cuts {
}

.game__figure {
}

/* ----Buttons-block---------------------------------------------- */

.buttons{
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__text{
    font-family: Roboto;
    font-size: 24px;
}

/* ----Canvas-------------------------------------------------- */

.canvas__class{
    width: 90%;
    border-radius: 10px;
    height: 600px;
}